@import "./Variables.css";
@import "./Fonts.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.imglogo {
  position: absolute;
  left: 16%;
  right: 25.33%;
  top: 4.44%;
  bottom: 91.11%;
  width: 150px;
}

body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
    background-color: var(--gray-darkest);
  }
}
/*main {
  min-height: 80vh;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}*/


.footer {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  color: white;
  font-size: 25px;
  border-top-width: 3px;
  border-top-color: #a71e1e;
}
.card{
  background-color: var(--gray-dark);
}
.card-body{
  color: #FFFFFF;
}