.card-search-body {
    background-color: var(--gray-dark);
    flex-direction: row;
    margin: 10px 0 0 0;
    padding: 1px 1px 1px 10px;
    --bs-card-border-color: none;
}

.card-search-title {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
}

.card-search-text {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    text-transform: uppercase;
    color: var(--light-gray);
    padding: 10px 0 0 0 ;

}

.card-search-img {
    border-top-right-radius: 0;
    
    width: 40%;
}
